<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.markusfisch.android.wavelines"
	android:versionCode="2"
	android:versionName="1.1.0"
	android:installLocation="auto">
	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="16"/>
	<uses-feature android:name="android.software.live_wallpaper"/>
	<supports-screens
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true"/>
	<application
		android:label="@string/title"
		android:icon="@drawable/ic_launcher_wallpaper">
		<service
			android:label="@string/title"
			android:name=".WaveLinesWallpaper"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action
					android:name="android.service.wallpaper.WallpaperService"/>
			</intent-filter>
			<meta-data
				android:name="android.service.wallpaper"
				android:resource="@xml/wavelines"/>
		</service>
		<activity
			android:theme="@style/Theme.WaveLinesTheme"
			android:label="@string/settings"
			android:name=".Settings"
			android:exported="true">
		</activity>
		<activity
			android:theme="@style/Theme.WaveLinesTheme"
			android:label="@string/color_theme_compositor"
			android:name=".ColorCompositor"
			android:exported="true">
		</activity>
	</application>
</manifest>
