<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.markusfisch.android.colorcompositor"
	android:versionCode="2"
	android:versionName="1.1.0"
	android:installLocation="auto">
	<uses-sdk
		android:minSdkVersion="4"
		android:targetSdkVersion="23"/>
	<supports-screens
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true"/>
	<application
		android:label="@string/title">
		<activity
			android:name=".ColorCompositor"
			android:theme="@style/Theme.ColorCompositorTheme"
			android:label="@string/title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
